{
  "extends": "airbnb",
  "rules": {
    "indent": [0],
    "no-param-reassign": [2, { "props": false }],
    "react/no-multi-comp": [0],
    "jsx-a11y/img-uses-alt": [0],
    "jsx-a11y/redundant-alt": [0],
    "jsx-a11y/valid-aria-role": [0],
  }
}
